# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Python (in case a local server generates cache)
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor folders
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.bak
*.log

# Raw Media Assets (Too large for Git)
assets/Real Pictures 1 (Chris dump)/**/*.mp4
assets/Real Pictures 1 (Chris dump)/**/*.heic
assets/Real Pictures 1 (Chris dump)/**/*.HEIC
assets/Real Pictures 1 (Chris dump)/
